{% extends "base.html" %} 
{% block title %} Пароль сменён {% endblock %}

{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <main class="main container">
        <div class="custom-center-block">
                <p class="custom-text-block">На вашу почту была отправленна ссылка для сброса пароля.</p>
            <div class="custom-button-block">
                <button href="{% url 'index' %}" class="button button_style_blue">Перейти на главную</button>
            </div>
        </div>
    </main>
{% endblock %}
