{% extends "base.html" %} 
{% block title %} Об авторе {% endblock %}

{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <main class="main container">
        <div class="custom-center-block">
                <p class="custom-text-block">
                    Автор сайта:&nbsp;
                    <a href="https://github.com/frolkit"> https://github.com/frolkit</a>
                </p>
            <div class="custom-button-block">
                <a href="{% url 'index' %}"><button  class="button button_style_blue" >Перейти на главную</button></a>
            </div>
        </div>
    </main>
{% endblock %}

