{% extends "base.html" %} 
{% block title %} Технологии {% endblock %}

{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <main class="main container">
        <div class="custom-center-block">
                <p class="custom-text-block">На сайте используется: Django, Python, JS, DRF, Docker, Nginx, PostgresSQL</p>
            <div class="custom-button-block">
                <a href="{% url 'index' %}"><button  class="button button_style_blue" >Перейти на главную</button></a>
            </div>
        </div>
    </main>
{% endblock %}

