{% load my_tags %}
<div class="card-list">
    {% for recipe in page %}
        <div class="card" data-id={{ recipe.id }}>
            <a href="{% url 'recipe' recipe.author.username recipe.id %}" class="link" target="_blank">
                {% load thumbnail %}
                {% thumbnail recipe.photo "450x450" upscale=True as im %}
                    <img src={{ im.url }}  width="{{ im.width }}" height="{{ im.height }}" alt="Какой-то текст" class="card__image" >
                {% endthumbnail %}
            </a>
            <div class="card__body">
                <a class="card__title link" href="{% url 'recipe' recipe.author.username recipe.id %}" target="_blank">{{ recipe.title }}</a>
                <ul class="card__items">
                    {% for tag in recipe.tags.all %}
                        <li class="card__item"><span class="{% tagcolor tag=tag.title %}">{{ tag.value }}</span></li>
                    {% endfor %}
                </ul>
                <div class="card__items card__items_column">
                    <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                    <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' recipe.author.username %}" style="color: black">{{ recipe.author.first_name }} {{ recipe.author.last_name  }}</a></p>
                </div>
            </div>
            <div class="card__footer">
                {% if request.user.is_authenticated %}
                    {% if recipe|check_purchase:request.user %}
                        <button class="button button_style_light-blue-outline" name="purchases">
                        <span class="icon-check button__icon"></span>Рецепт добавлен</button>
                    {% else %}
                        <button class="button button_style_light-blue" name="purchases" data-out>
                        <span class="icon-plus button__icon"></span>Добавить в покупки</button>
                    {% endif %}
                    
                    {% if recipe|check_favorite:request.user %}
                        <button class="button button_style_none" name="favorites">
                        <span class="icon-favorite icon-favorite_active"></span></button>
                    {% else %}
                        <button class="button button_style_none" name="favorites" data-out>
                        <span class="icon-favorite"></span></button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>


